html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0px;
}
header{
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}
footer{
    background-color: lightgray;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}
.nav1{
    background-color: black;
    height: 30px;
}
main{
    margin-top: auto
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 50px;
    border-radius: 5px;
}
.DangleId{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    max-width: 60vh;
    overflow: hidden;
}
.DangleId p{
    max-width: 65%;
    text-align: justify;
    padding: 15px;
}
.DangleId:hover{
    zoom: 105%;
}
.InvFunc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    max-width: 60vh;
}
