html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
*{
    margin: 0px;
}
header{
    display: flex;
    background-color: lightgray;
    justify-content: space-between;
    padding: 20px;
}
footer{
    background-color: lightgray;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}
main{
    margin-top: auto
}