html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 196, 88);
    scroll-behavior: smooth;
}
*{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #0c1821;
    color: white;
    padding: 40px;
    z-index: 999;
    position: sticky;
    top: 0;
}
nav .middle{
    display: flex;
    justify-content: space-between;
    width: 25%;
}
nav a{color: white; text-decoration: none;}
nav .middle a:hover{
    cursor: pointer;
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-top: auto;
    color: white;
}
main{
    display: flex;
    align-content: center;
    border-style: solid;
    min-height: 70vh;
}

#double-angle {
    display: flex;
    border: 2px solid wheat;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;

    height: 15vh;
}

#double-angle .text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#double-angle .text section {
    width: 100%;
    height: 50%;
    border: solid 2px;
}
#double-angle .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    text-align: center;
}
#double-angle .intro #title{
    font-size: 45px;
    border-bottom: 2px solid;
}
#double-angle .intro #description{
    width: 80%;
}

#double-angle .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 50%;
    height: 100%;
    background-color: #0c1821;
}

@media screen and (max-width: 767px) {
    #double-angle {
        flex-direction: column;
        height: 20vh;
    }
    #double-angle .text {
        width: 100%;
    }
    #double-angle .text section {
        width: 100%;
    }
    #double-angle .video {
        width: 100%;
    }
}